@font-face {
    font-family: BYekan;
    src: url(../fonts/BYekan.ttf);
}

body {
    margin: 0;
    direction: rtl;
    font-family: BYekan;
    background-image: url(../images/background.jpg);
}

header {
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .5s;
}

header:hover {
    background-color: rgba(0, 0, 0, 1);
}

header #name {
    color: white;
    margin: 1%;
}

header #menu {
    width: 80%;
    list-style: none;
}

header #menu li {
    display: inline;
    margin: 5%;
}

header #menu li a {
    color: white;
    text-decoration: none;
}

header #profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: url(../images/noprofile.jpg);
    background-size: cover;
}

header #name, #menu, #profile {
    display: inline-block;
    vertical-align: middle;
}

#profile_container {
    position: absolute;
    background-color: white;
    border-radius: 5%;
    border: solid 1px;
}

#body {
    margin: 1%;
}